@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
	--transpar: rgba(0, 0, 0, 0);

	--water-blue: rgba(194, 228, 241, 1);
	--deep-water: rgba(51, 153, 187, 1);
		/*rgba(231, 244, 249, 1), rgba(200, 231, 242, 1));*/

	--blanched-thyme: rgba(146, 150, 124, 1);
	--gilded-linen: rgba(227, 225, 216, 1);
	--delighted-moon: rgba(235, 201, 149, 1);
	--lilac-lane: rgba(229, 211, 226, 1);
	--mountain-river: rgba(81, 98, 115, 1);
	--orchid-ash: rgba(210, 216, 224, 1);
	--grey-suit: rgba(136, 136, 134, 1);
	--subtle-peach: rgba(250, 231, 213, 1);
	--rustic-oak: rgba(166, 126, 100, 1);
	--sunset-curtains: rgba(215, 184, 174, 1);
	--country-charm: rgba(209, 194, 166, 1);
	--fired-earth: rgba(75, 72, 69, 1);

	--light-sky-blue: rgba(225, 239, 254, 1);
	--medium-sky-blue: rgba(196, 224, 253, 1);
	--sky-blue: rgba(137, 193, 252, 1);
	--night-sky-blue: rgba(17, 79, 142, 1);

	--pale-yellow: rgba(254, 253, 223, 1);
	--light-yellow: rgba(253, 250, 128, 1);
	--bright-yellow: rgba(252, 246, 0, 1);

	--light-coral: rgba(255, 245, 242, 1);
	--coral: rgba(255, 127, 80, 1);
	--dark-coral: rgba(33, 16, 10, 1);

	--light-green: rgba(127, 255, 127, 1);
	--dark-green: rgba(37, 76, 37, 1);

	--outside-grad-top: var(--sky-blue);
	--outside-grad-bottom: var(--light-sky-blue);
	--outside-bk-color: var(--light-yellow);

	--light-bk-color: rgba(255, 255, 255, 1);
	--light-fg-color: rgba(4, 4, 4, 1);

	--dark-bk-color: rgba(0, 0, 0, 1);
	--dark-fg-color: rgba(184, 184, 184, 1);

	--border-color: rgba(112, 112, 112, 1);

	--bk-color: var(--light-bk-color);
	--fg-color: var(--light-fg-color);

	--link-before-fg-color: var(--night-sky-blue);
	--link-hover-fg-color: var(--coral);
	--link-active-fg-color: red;
	--link-visited-fg-color: purple;

	--heading-fg-color: var(--outside-grad-top);
	--bullet-fg-color: var(--outside-grad-top);
	--dfn-fg-color: var(--coral);
	--strong-fg-color: var(--coral);
	--user-input-bk-color: var(--coral);
	--user-input-fg-color: white;

	--line-number-hilite: var(--night-sky-blue);
	--code-bk-color: var(--pale-yellow);
	--console-bk-color: var(--light-sky-blue);

	--code-line-hilite: var(--light-green);
	--console-line-hilite: rgba(208, 229, 241, 1);

	--footer-bk-color: var(--outside-grad-bottom);
}


body {
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
}

body > div.back {
	position: relative;
	z-index: 0;
	background-color: var(--outside-bk-color);
    padding-bottom: 3em;
}

body > div.back > div.top {
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
    width: 100%;
	height: 4in;
	background:
		linear-gradient(0deg, var(--outside-grad-bottom), var(--outside-grad-top));
}

body > div.back > div.page {
    position: relative;
	box-shadow: 0 0 40px rgba(0, 0, 0, .15);
	margin: 0 auto;
	width: 60em;
	z-index: 2;
	background-color: var(--bk-color);
	color: var(--fg-color);
	font-size: var(--body-font-size);
	line-height: 1.3;
	display: grid;
}

body > div.back > div.page > header {
	grid-row: 1;
	grid-column: 1 / span 2;
	background-color: white;
	margin: 0 2em;
	padding: 1em 0;
	border-bottom: 1px solid var(--border-color);
}

body > div.back > div.page > div.side {
	grid-row: 2;
	grid-column: 1;
	background-color: white;
	margin: 1em 0 1em 2em;
	width: 11.5em;
	font-size: 90%;
	line-height: 1.1;
}

body > div.back > div.page > article {
	grid-row: 2;
	grid-column: 2;
	background-color: white;
	margin: 1em 2em 1em 2em;
	width: 44em;
}


header > h2 {
	font-size: 250%;
	font-weight: bold;
	color: var(--outside-grad-top);
}

header > h3 {
	font-size: 110%;
	color: var(--border-color);
	margin: 1em 0 0 0;
}


div.side > h2 {
	font-weight: bold;
	margin: 0 0 0.5em 0;
}

nav {
	margin: 0 0 5em 0;
}
nav ul {
	margin: 0 0 0 1.5em;
	list-style-type: disc;
}
nav ul > li {
	margin: 0 0 0.5em 0;
	color: var(--bullet-fg-color);
}
nav > ul >  li > div {
	color: var(--fg-color);
}


/* Headings */
article h1 {
	clear: both;
	text-align: center;
	font-size: 175%;
	margin: 0 0 1em 0;
	page-break-after: avoid !important;
}

article h2 {
	clear: both;
	font-size: 150%;
	font-weight: bold;
	margin: 1.5em 0 0.25em 0;
	padding-bottom: 0.25em;
	border-bottom: 1px solid var(--border-color);
	page-break-after: avoid !important;
}

article h3 {
	font-weight: bold;
	font-size: 130%;
	color: var(--heading-fg-color);
	margin: 1.5em 0 0.5em 0;
	page-break-after: avoid !important;
}

article h4 {
	font-weight: bold;
	font-size: 110%;
	margin: 1em 0 0.5em 0;
	page-break-after: avoid !important;
}

article p {
	margin: 0 0 1em 0;
}


/* Lists */
article ol {
	margin: 0 0 1em 2em;
	list-style-type: decimal;
}

article ol > li ol > li ol {
	list-style-type: lower-roman;
}

article ol > li ol {
	list-style-type: lower-alpha;
}

article .long > li {
	margin: 0 0 1em 0;
}

article li {
	color: var(--bullet-fg-color);
}

article li > div {
	color: var(--fg-color);
	margin: 0 0 0 0.25em;
}

article ul {
	margin: 0 0 1em 2em;
	list-style-type: disc;
}

article li ul {
	list-style-type: circle;
}

article.directory h1 {
	text-align: left;
}
article.directory ul > li {
	margin: 0 0 0.5em 0;
}
article.directory dl > dd {
	margin: 0 0 1em 2em;
}


/* Cross reference link for line numbers in example code. */
article span.cross {
	cursor: pointer;
	text-decoration: underline var(--link-before-fg-color) dotted;
}


/* Code containers */
article code {
	font-family: "Source Code Pro", "Lucida Console", Consolas, monospace;
	font-size: 95%;
	white-space: nowrap;
}


article pre {
	font-family: "Source Code Pro", "Lucida Console", Consolas, monospace;
	font-size: 95%;
	line-height: 1.15;
}

article pre em,
article code em {
	font-weight: bold;
	font-style: normal;
}

/* Container for console (terminal) input and output. */
article pre.console {
	margin: 1em 0 1em 1.25em;
	border: 1px solid var(--border-color);
	background-color: var(--console-bk-color);
	padding: 0.25em 0.5em;
	page-break-inside: avoid !important;
}

article pre.console span.input {
	border: 1px solid var(--border-color);
	padding: 0 0.25em;
	background-color: var(--user-input-bk-color);
	color: var(--user-input-fg-color);
}


/* Containers for line numbers and Python source code */
article div.pre {
	display: table;
	position: relative;
	margin: 1em auto 1em 1.25em;
	border: 1px solid var(--border-color);
	background-color: var(--code-bk-color);
	padding: 0.25em 0.5em;
}
article div.pre.solution {
	margin: 1em 0;
}

article div.pre > button.copy {
	position: absolute;
	top: 0.5em;
	right: 0.25em;
	visibility: hidden;
	background-color: var(--light-bk-color);
}

article div.pre:hover > button.copy {
	visibility: visible;
}

article div.pre > button.copy > img {
	width: 2em;
}

article div.pre > pre {
	display: table-cell;
}

article div.pre > pre.linenums {
	padding-right: 1.25em;
	text-align: right;
	color: var(--border-color);
}

article div.pre > pre.linenums > .hi {
	background-color: var(--line-number-hilite);
	color: white;
}

article div.pre > pre.python {
	min-width: 18em;
}

article pre.python span.hiScope  { background-color: yellow; }
article pre.python span.hiVarDef { background-color: orange; }
article pre.python span.hiVarUse { background-color: yellow; }
article pre.python span.hiError  { background-color: red; }


/* Figures */
article figure {
	page-break-inside: avoid !important;
	margin: 0 0 1em 0;
}
article figure.full {
}
article figure.center {
	display: table;
	margin: 0 auto 1em auto;
}
article figure.right {
	float: right;
	margin: 0 0 1em 1em;
}

article figure > img {
	max-width: 100%;
}

article figure > figcaption {
	font-size: 90%;
	text-align: left;
	margin: 0 0 1em 0;
}
article figure > figcaption > em {
	font-weight: bold;
}


article div.modified {
	font-size: smaller;
	text-align: right;
	margin: 2.5em 0 0 0;
}

footer {
	grid-row: 3;
	grid-column: 1 / span 2;
	background-color: var(--footer-bk-color);
	padding: 2em 2em 1em 2em;
	font-size: 90%;
}

footer > p {
	margin: 0 0 1em 0;
}

