@import url("reset.css");
/*
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
	--transpar: rgba(0, 0, 0, 0);

	--grape: #531cb3;
	--deep-lilac: #944bbb;
	--african-violet: #aa7bc3;
	--pastel-violet: #cc92c2;
	--pale-chestnut: #dba8ac;

	--lavendar-flash: #f4eef7;
	--isabeline: #f6e9ea;

	--ghost-white: #faf7fb;
	--snow: #fcf9fa;

/*
	--water-blue: rgb(194, 228, 241);
	--deep-water: rgb(51, 153, 187);

	--light-sky-blue: rgb(225, 239, 254);
	--medium-sky-blue: rgb(196, 224, 253);
	--sky-blue: rgb(137, 193, 252);
	--night-sky-blue: rgb(17, 79, 142);

	--pale-yellow: rgb(254, 253, 223);
	--light-yellow: rgb(253, 250, 128);
	--bright-yellow: rgb(252, 246, 0);

	--light-coral: rgb(255, 245, 242);
	--coral: rgb(255, 127, 80);
	--dark-coral: rgb(33, 16, 10);
*/

	--outside-grad-top: var(--grape);
	--outside-grad-bottom: var(--pastel-violet);
	--outside-bg-color: var(--pale-chestnut);

	--border-color: rgb(112, 112, 112);

	--bg-color: rgb(255, 255, 255);
	--fg-color: rgb(4, 4, 4);

	--link-before-fg-color: var(--grape);
	--link-hover-fg-color: var(--african-violet);
	--link-active-fg-color: var(--pale-chestnut);
	--link-visited-fg-color: var(--deep-lilac);

	--heading-fg-color: var(--outside-grad-top);
	--bullet-fg-color: var(--outside-grad-top);
	--dfn-fg-color: var(--deep-lilac);
	--strong-fg-color: var(--deep-lilac);
	--user-input-bg-color: var(--pale-chestnut);
	--user-input-fg-color: white;

	--line-number-hilite: var(--african-violet);
	--code-bg-color: var(--ghost-white);
	--console-bg-color: var(--snow);

	--footer-bg-color: var(--isabeline);
}


body {
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
	line-height: 1.3;
}

@media (max-width: 768px) {
	body > div.top { display: none; }
}
@media (min-width: 768px) {
	body {
		z-index: 0;
		padding-bottom: 2em;
		background-color: var(--outside-bg-color);
	}

	body > div.top {
		position: absolute;
		top: 0; left: 0;
		z-index: 1;
		width: 100%;
		height: 4in;
		background:
	linear-gradient(0deg, var(--outside-grad-bottom), var(--outside-grad-top));
	}
}

body > div.page {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

div.page > header {
	margin: 0 2em 1em 2em;
	padding: 0.5em 0 1em 0;
	border-bottom: 1px solid var(--border-color);
}

@media (max-width: 768px) {
	/* Devices with a small screen or in a small window. */
	div.page > nav {
		display: block;
		margin: 0 2em 2em 2em;
	}
	nav > h2 {
		display: none;
	}
	nav > ul {
		list-style-type: none;
	}
	nav > ul > li {
		display: inline-block;
		margin: 0 1em 0.5em 0;
	}
}
@media (min-width: 768px) {
	/* In a medium or large window. */
	body > div.page {
		position: relative;
		z-index: 2;
		box-shadow: 0 0 40px rgba(0, 0, 0, .15);
		margin: 0 auto;
		width: 60em;
	}

	div.page > nav {
		display: inline-block;
		margin-left: 2em;
		width: 8em;
		vertical-align: top;
		line-height: 1.2;
	}

	div.page > article {
		display: inline-block;
		width: 46em;
	}

	nav > h2 {
		font-size: 120%;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	nav > ul {
		margin-left: 1.5em;
		list-style-type: disc;
	}
	nav > ul > li {
		margin-bottom: 0.75em;
		color: var(--bullet-fg-color);
	}
	nav > ul > li > div {
		color: var(--fg-color);
	}
}

div.page > article {
	margin: 0 2em 1em 2em;
}


div.page > footer {
	background-color: var(--footer-bg-color);
	padding: 2em 2em 1em 2em;
	font-size: 90%;
}

footer > h2 {
	font-weight: bold;
	margin-bottom: 0.5em;
}
footer > img {
	float: right;
	margin: 0 0 0.5em 0.5em;
}
footer > p {
	margin-bottom: 1em;
}


header > h2 {
	font-size: 250%;
	font-weight: bold;
	color: var(--outside-grad-top);
}

header > h3 {
	font-family: Neucha, "Brush Script MT", cursive;
	font-size: 150%;
	color: var(--border-color);
	margin: 0.5em 0 0 0;
}

header a:link,
header a:hover,
header a:active,
header a:visited {
	text-decoration: none;
	color: inherit;
}


/* Headings */
article h1 {
	clear: both;
	text-align: center;
	font-size: 175%;
	margin: 0 0 1em 0;
	page-break-after: avoid !important;
}

article h2 {
	clear: both;
	font-size: 135%;
	font-weight: bold;
	color: var(--heading-fg-color);
	margin: 1.5em 0 0.5em 0;
	page-break-after: avoid !important;
}

article h3 {
	font-weight: bold;
	font-size: 120%;
	margin: 1.5em 0 0.5em 0;
	page-break-after: avoid !important;
}

article h4 {
	font-weight: bold;
	font-size: 110%;
	margin: 1em 0 0.5em 0;
	page-break-after: avoid !important;
}


a:link { color: var(--link-before-fg-color); }
a:hover { color: var(--link-hover-fg-color); }
a:active { color: var(--link-active-fg-color); }
a:visited { color: var(--link-visited-fg-color); }

article em { font-style: italic; }
article strong {
	font-weight: bold;
	color: var(--strong-fg-color);
}
article dfn { color: var(--dfn-fg-color); }
article var { font-style: italic; }

article .left { text-align: left; }
article .center { text-align: center; }
article .right { text-align: right; }
article .number { text-align: right; }

article .top { vertical-align: top; }
article .middle { vertical-align: middle; }
article .bottom { vertical-align: bottom; }

article .clear { clear: both; }
article .unseen { display: none; }
article .nowrap { white-space: nowrap; }

article span.menu {
	border: 1px solid green;
	color: green;
	white-space: nowrap;
}

span.key {
    vertical-align: baseline;
    line-height: 1.6em;
    background-color: #f0f0f0;
    border: 1px solid #0a0a0a; border-radius: 4px; border-style: outset;
    margin: 0 0 0 0;
    padding: 0.1em 0.2em 0.1em 0.2em;
}

.highlight  { background-color: yellow; }
.highlight2 { background-color: orange; }

article p {
	margin: 0 0 1em 0;
}


/* Lists */
article ol {
	margin: 0 0 1em 2em;
	list-style-type: decimal;
}

article ol > li ol > li ol {
	list-style-type: lower-roman;
}

article ol > li ol {
	list-style-type: lower-alpha;
}

article .long > li {
	margin: 0 0 1em 0;
}

article li {
	color: var(--bullet-fg-color);
}

article li > div {
	color: var(--fg-color);
	margin: 0 0 0 0.25em;
}

article ul {
	margin: 0 0 1em 2em;
	list-style-type: disc;
}

article ul.nosym {
	margin: 0 0 1em 1em;
	list-style-type: none;
}

article li ul {
	list-style-type: circle;
}

article.directory h1 {
	text-align: left;
}
article.directory ul > li {
	margin: 0 0 0.5em 0;
}
article.directory dl > dd {
	margin: 0 0 1em 2em;
}

article dl {
	margin: 0 0 1em 1em;
}
article dl > dd {
	margin-left: 2em;
}

article dl.function > dt {
	border-left: 0.12em solid var(--bullet-fg-color);
	padding-left: 0.5em;
}

article dl.function > dd {
	margin-left: 0;
	border-left: 0.12em solid var(--bullet-fg-color);
	padding-left: 2.5em;
	margin-bottom: 1em;
}

article dl.long > dd {
	margin-bottom: 1em;
}


/* Tables */
article table {
	margin-bottom: 1em;
}
article table > thead > tr > th {
	vertical-align: bottom;
	text-align: center;
	font-weight: bold;
}
article table > tbody > tr > th,
article table > tbody > tr > td {
	vertical-align: top;
}
article table > tbody > tr > th {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
}

article table > tbody.top > tr > td { vertical-align: top; }
article table > tbody.middle > tr > td { vertical-align: middle; }
article table > tbody.center > tr > td { text-align: center; }
article table tr.center > td { text-align: center; }

article table.features > tbody > tr > td {
	padding: 0.5em 0.5em 0 0;
	vertical-align: middle;
	text-align: center;
}
article table.features > tbody > tr > td:first-child {
	text-align: right;
}

article table.excel > thead > tr > th[scope="col"] {
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	min-width: 4em;
	background-color: #e0e0e0;
	font-weight: normal;
}
article table.excel > tbody > tr > th[scope="row"] {
	border-top: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	background-color: #e0e0e0;
	padding: 0 0.3em;
	font-weight: normal;
}
article table.excel > tbody > tr > th[scope="col"] {
	background-color: #fabf8f;
}
article table.excel > tbody > tr > td {
	border: 1px solid var(--border-color);
	padding: 0 0.2em;
}
article table.excel tr > td.space,
article table.excel tr > td.formula {
	border: none;
	min-width: 4em;
}

/*
div.package { display: table;
	border: 1px solid darkSlateGray; border-spacing: 0.5em; }
div.package div.class { display: table-cell;
	padding: 0 0.1em 0 0.1em;
	border: 1px solid darkSlateGray; vertical-align: top; }

table.class { border: 1px solid darkSlateGray; }
table.class td { white-space: nowrap; }
table.class td.constraint { border: none; }
table.class td.name { text-align: center; }
table.class td.rule { border-bottom: 1px solid darkSlateGray; }
table.class span.abstract { font-style: italic; }
table.class span.static { text-decoration: underline; }

table.clazz { margin: auto;  }
table.clazz td { white-space: nowrap }
table.clazz td.name { border: 1px solid darkSlateGray; text-align: center }
table.clazz td.member {
	border-left: 1px solid darkSlateGray;
	border-right: 1px solid darkSlateGray;
}
table.clazz td.last { border-bottom: 1px solid }

table.classdia td { text-align: center }
table.classdia td.class { border: 1px solid darkSlateGray; text-align: center }

table.sparse {
	border-collapse: separate;
	border-spacing: 5px 2px;
	border-bottom: 1px solid darkSlateGray
}
table.sparse th {
	padding: 0.5em 0 0.25em 0;
	vertical-align: bottom;
	font-weight: bold;
	border-bottom: 1px solid darkSlateGray
}
table.sparse th.left {
	vertical-align: top;
	text-align: left;
	border-bottom: none
}
table.sparse td { padding: 0.5em 0 0.25em 0 }
*/

article table.data caption.name {
	caption-side: top;
	padding-left: 1em;
	font-weight: bold;
	text-align: left;
}
article table.data th {
	border: 1px solid var(--border-color);
	padding: 0 0.5em;
	vertical-align: bottom;
	background-color: #fabf8f;
}
article table.data tr.sub th {
	border: 1px solid var(--border-color);
	background-color: #f79646;
}
article table.data tr.shaded td {
	background-color: #fde9d9;
}
article table.data td {
	border: 1px solid var(--border-color);
	padding: 0 0.5em;
	vertical-align: top;
}
article table.data td.key { text-align: center; }
article table.data td.zip { text-align: center; }
article table.data td.null,
span.null {
	background-color: dimGray;
	color: white;
	font-size: smaller;
	text-transform: uppercase;
}

article table.resultset {
	margin: 1em auto 1em 1.25em;
}


/* Mathematical Formulas */
article table.division {
	font-family: "Palatino Linotype", Palatino, Garamond, serif;
}
article table.division tr > td:nth-child(2) {
	padding: 0 0.2em;
}
article table.division tr > td:nth-child(3) {
	padding: 0 0.2em;
	text-align: right;
}
article table.division td.dividend {
	border-top: 1px solid;
	border-left: 1px solid;
}
article table.division td.sum {
	border-top: 1px solid;
}

article div.formula {
	white-space: nowrap;
	font-family: "Palatino Linotype", Palatino, Garamond, serif;
	page-break-inside: avoid !important;
}

article div.inline.formula {
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: baseline;
}

article div.block.formula {
	margin: 1em 0;
	vertical-align: middle;
	text-align: center;
}

article div.group {
	display: table;
	margin: 0 auto;
}
article div.group > div.formula {
	margin: 1em 0;
	vertical-align: middle;
}

article div.formula div {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

article div.formula .baseline {
	vertical-align: baseline;
}

article sup {
	font-size: smaller;
	margin-left: 0.12em;
	vertical-align: 0.35em;
}
article sub {
	font-size: smaller;
	margin-left: 0.12em;
	vertical-align: -0.35em;
}
article div.formula div.supsub {
	font-size: smaller;
	margin-left: 0.12em;
	line-height: 0.8;
	vertical-align: -0.35em;
	/*text-align: left;*/
}

article div.formula span.abs::before,
article div.formula span.abs::after {
	font-size: 140%;
	font-weight: 100;
	vertical-align: middle;
	content: "\7c";
}

article div.formula .paren::before {
	display: inline-block;  /* Required so that transform will work */
	padding-left: 0.1em;
	content: "\28";
	font-weight: 100;
	transform: scale(1.2, 1.2);
}

article div.formula .paren::after {
	display: inline-block;  /* Required so that transform will work */
	padding-left: 0.1em;
	content: "\29";
	font-weight: 100;
	transform: scale(1.2, 1.2);
}

article div.formula .paren.onePlus::before {
	padding-left: 0.2em;
	padding-right: 0.1em;
	transform: scale(1.5, 1.8);
}
article div.formula .paren.onePlus::after {
	padding-left: 0.1em;
	padding-right: 0.2em;
	transform: scale(1.5, 1.8);
}

article div.formula div.paren {
	vertical-align: baseline;
}

article div.formula div.radic {
}
article div.formula div.radic.one > div:first-child {
}
article div.formula div.radic.onePlus > div:first-child {
	transform: scale(1.1, 1.6);
}
article div.formula div.radic.two > div:first-child {
	transform: scale(1.8, 3);
	margin-right: 0.2em;
}
article div.formula div.radic > div:last-child {
	border-top: 1px solid;
	padding: 0 0.2em;
}

article div.formula div.sum > div > span {
	display: block;
}

article div.formula div.sum > div > span.index {
	font-size: smaller;
}

article div.formula div.sum > div > span.one {
	margin: -0.3em 0 -0.2em 0;
	font-size: 110%;
}

article div.formula div.sum > div > span.onePlus {
	margin: -0.3em 0 -0.2em 0;
	font-size: 130%;
}

article div.formula div.sum > div > span.two {
	margin: 0.3em 0 1em 0;
	transform: scale(2.5, 3.2);
}

article div.formula div.sum > div:last-child {
	vertical-align: -1.2em;
}

article div.formula div.fract {
}

article div.formula div.fract > div:first-child {
	display: block;
}

article div.formula div.fract > div:last-child {
	display: block;
	margin-top: 0.25em;
	border-top: 1px solid;
	padding-top: 0.1em;
}


/* Cross reference link for line numbers in example code. */
article span.cross {
	cursor: pointer;
	text-decoration: underline var(--link-before-fg-color) dotted;
}


/* Code containers */
article code {
	font-family: "Source Code Pro", "Lucida Console", Consolas, monospace;
	font-size: 95%;
	white-space: nowrap;
}


article pre {
	font-family: "Source Code Pro", "Lucida Console", Consolas, monospace;
	font-size: 95%;
	line-height: 1.15;
}

nav em,
article pre em,
article code em {
	font-weight: bold;
	font-style: normal;
}

/* Container for console (terminal) input and output. */
article pre.console {
	margin: 1em 0 1em 1.25em;
	border: 1px solid var(--border-color);
	background-color: var(--console-bg-color);
	padding: 0.25em 0.5em;
	page-break-inside: avoid !important;
}

article pre.console span.input {
	border: 1px solid var(--border-color);
	padding: 0 0.25em;
	background-color: var(--user-input-bg-color);
	color: var(--user-input-fg-color);
}

/* Containers for line numbers and source code */
article div.pre {
	display: table;
	position: relative;
	margin: 1em auto 1em 1.25em;
	border: 1px solid var(--border-color);
	background-color: var(--code-bg-color);
	padding: 0.25em 0.5em;
}
article div.pre.solution {
	margin: 1em 0;
}

article div.pre > button.copy {
	position: absolute;
	top: 0.5em;
	right: 0.25em;
	visibility: hidden;
	background-color: var(--light-bg-color);
}

article div.pre:hover > button.copy {
	visibility: visible;
}

article div.pre > button.copy > img {
	width: 2em;
}

article div.pre > pre {
	display: table-cell;
}

article div.pre > pre.linenums {
	padding-right: 1.25em;
	text-align: right;
	color: var(--border-color);
}

article div.pre > pre.linenums > .hi {
	background-color: var(--line-number-hilite);
	color: white;
}

article div.pre > pre.python {
	min-width: 18em;
}

article pre.python span.hiScope  { background-color: yellow; }
article pre.python span.hiVarDef { background-color: orange; }
article pre.python span.hiVarUse { background-color: yellow; }
article pre.python span.hiError  { background-color: red; }


/* Figures */
figure.pitch {
	page-break-inside: avoid !important;
	position: absolute;
	right: 1.5em;
	z-index: 3;
	box-shadow: 0 0 40px rgba(0, 0, 0, .15);
	background-color: var(--bg-color);
}
figure.pitch img {
	max-width: 100%;
	border: 1px solid var(--border-color);
}
figure.pitch figcaption {
	font-size: 90%;
	border: 1px solid var(--bg-color);
	padding: 0.25em 0.5em 0.75em 0.5em;
}

article figure {
	page-break-inside: avoid !important;
	margin-bottom: 1em;
}
article figure.full {
}
article figure.center {
	display: table;
	margin: 0 auto 1em auto;
}
article figure.right {
	float: right;
	margin: 0 0 1em 1em;
}

article figure img {
	max-width: 100%;
}

article figure > figcaption {
	font-size: 90%;
	text-align: left;
	margin: 0 0 1em 0;
}
article figure > figcaption > b {
	font-weight: bold;
}

article figure.erd_data {
	white-space: nowrap;
	overflow: auto;
}
article figure.erd_data > img {
	display: inline;
	vertical-align: top;
	margin-right: 1em;
}
article figure.erd_data > div {
	display: inline-block;
}


article div.modified {
	font-size: smaller;
	text-align: right;
	margin: 2.5em 0 0 0;
}

