@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
body {
    font-family: Helvetica, sans-serif, Arial, sans-serif;
    padding: 1em;
}
a:link {
 color: red;   
}
a:visited {
    color: ivory;
}


a:active {
    background-color: darkorchid;
    
}
a:hover {
    color: gray;
}


a:focus {
                background-color: rgb(255, 214, 255);
            } 

img {
    max-width: 100%;
}

#special-logo {
    float: left;
    z-index: 1;
    margin-top: -20px;
    background-color: darkkhaki;
    margin-left: 3%;
}

nav ul {
    display: flex;
    list-style-type: none;
    line-height: 3em;
    flex-flow: row wrap;
    margin-left: 5%;
    
}

nav li {
    flex: 5 1 7em;
}

nav {
    font-size: 1em;
    background-color: darkkhaki;
    width: 100%;
    font-family: "Rock Salt", cursive, Impact, fantasy, Helvetica, sans-serif;
    flex-flow: row wrap;
    color: #051A38;
    
}

nav a {
    color: #051A38;
    
}



#section1,
#section2 {
    display: flex;
    flex-flow: row wrap;
    /*    align-items: center;*/
    color: #0E5144
}

.leftcol,
.rightcol {
    flex: 1 0 15em;
    Width: 48%;
    margin: 2%;
}

.fullwidth img {
    width: 100%;
}

#top-row,
#middle-row {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    align-items: center;
    line-height: 120%;
    font-size: 105%;

}

#top-row {
    background-color: #FFE0AA;
    text-align: left;
    margin-top: 2%;
}

#middle-row {
    background-color: #FFE0AA;
    text-align: left;
}

#bottom-row {
    background-color: #FFE0AA;
    text-align: center;
    margin: auto;
    padding-bottom: .5em;
    padding-top: .5em;
    line-height: 120%;
    font-size: 105%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rock Salt", cursive, Impact, fantasy, Helvetica, sans-serif;
    color: #00362C;
    justify-content: center;
}

#content {
    background-color: #D4946A;
    max-width: 960px;
    margin: 0 auto;
    padding: 2em;
}

.copy {
    align-content: flex-start;
    vertical-align: middle;
    padding-top: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
}

.social-media {
    width: 45%;
}